<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.zenyuca.common.mapper.RoleMapper">

  <resultMap id="resultmap_role" type="club.zenyuca.common.pojo.Role">
    <id column="ROLE_SEQ" property="roleSeq" />
    <result column="ROLE_NAME" property="roleName" />
    <result column="ROLE_NOTE" property="roleNote" />
    <result column="ROLE_RIGHTS" property="roleRights" />
    <result column="ROLE_TYPE" property="roleType" />
    <result column="createTime" property="createTime" />
    <result column="createrId" property="createrId" />
    <result column="lastModifyTime" property="lastModifyTime" />
    <result column="updaterId" property="updaterId" />
  </resultMap>

  <sql id="all_column_list" >
    ROLE_SEQ,
    <include refid="insert_column_list"></include>
  </sql>
  
  <sql id="insert_column_list" >
    ROLE_NAME,
    ROLE_NOTE,
    ROLE_RIGHTS,
    ROLE_TYPE,
    createTime,
    createrId,
    lastModifyTime,
    updaterId
  </sql> 

  <sql id="value_column_list" >
    #{roleName},
    #{roleNote},
    #{roleRights},
    #{roleType},
    #{createTime},
    #{createrId},
    #{lastModifyTime},
    #{updaterId}
  </sql>

  <sql id="where_condition">
    <if test="roleName != null and roleName != ''">
      AND ROLE_NAME like CONCAT('%',#{roleName},'%')
    </if>
    <if test="roleNote != null and roleNote != ''">
      AND ROLE_NOTE like CONCAT('%',#{roleNote},'%')
    </if>
    <if test="roleRights != null and roleRights != ''">
      AND ROLE_RIGHTS like CONCAT('%',#{roleRights},'%')
    </if>
    <if test="roleType != null and roleType != ''">
      AND ROLE_TYPE like CONCAT('%',#{roleType},'%')
    </if>
    <if test="createTime != null and createTime != ''">
      AND createTime like CONCAT('%',#{createTime},'%')
    </if>
    <if test="createrId != null and createrId != ''">
      AND createrId like CONCAT('%',#{createrId},'%')
    </if>
    <if test="lastModifyTime != null and lastModifyTime != ''">
      AND lastModifyTime like CONCAT('%',#{lastModifyTime},'%')
    </if>
    <if test="updaterId != null and updaterId != ''">
      AND updaterId like CONCAT('%',#{updaterId},'%')
    </if>
  </sql>

  <select id="findAll" resultMap="resultmap_role" parameterType="club.zenyuca.common.pojo.Role">
    SELECT
      <include refid="all_column_list"></include>
    FROM base_role
    <where>
      <include refid="where_condition"></include>
    </where>    
    ORDER BY ROLE_SEQ DESC
  </select>

  <select id="listPage" resultMap="resultmap_role" parameterType="club.zenyuca.common.pojo.Role">
    SELECT
      <include refid="all_column_list"></include>
    FROM base_role
    <where>
      <include refid="where_condition"></include>
    </where>
    ORDER BY ROLE_SEQ DESC
  </select>

  <select id="load" resultMap="resultmap_role" parameterType="club.zenyuca.common.pojo.Role">
    SELECT
      <include refid="all_column_list"></include>
    FROM base_role
    <where>
      <include refid="where_condition"></include>
    </where>
  </select>
  
  <select id="loadByPK" resultMap="resultmap_role" parameterType="java.lang.Integer">
    SELECT
      <include refid="all_column_list"></include>
    FROM base_role
    WHERE ROLE_SEQ = #{ROLE_SEQ}
  </select>

  <select id="findByPKs" resultMap="resultmap_role" parameterType="java.lang.Integer">
    SELECT
      <include refid="all_column_list"></include> 
    FROM base_role
    WHERE ROLE_SEQ IN
    <foreach collection="array" item="ROLE_SEQ" open="(" separator="," close=")">
      #{ROLE_SEQ}
    </foreach>
  </select>
  
  <insert id="insert" parameterType="club.zenyuca.common.pojo.Role" useGeneratedKeys="true" keyProperty="ROLE_SEQ">
    INSERT INTO base_role (
      <include refid="insert_column_list"></include> 
    )VALUES(
      <include refid="value_column_list"></include>
    )
  </insert>

  <update id="update" parameterType="club.zenyuca.common.pojo.Role">
    UPDATE base_role SET 
      <if test="roleName != null and roleName != ''">
        ROLE_NAME = #{roleName},
      </if>
      <if test="roleNote != null and roleNote != ''">
        ROLE_NOTE = #{roleNote},
      </if>
      <if test="roleRights != null and roleRights != ''">
        ROLE_RIGHTS = #{roleRights},
      </if>
      <if test="roleType != null and roleType != ''">
        ROLE_TYPE = #{roleType},
      </if>
      <if test="createTime != null and createTime != ''">
        createTime = #{createTime},
      </if>
      <if test="createrId != null and createrId != ''">
        createrId = #{createrId},
      </if>
      <if test="lastModifyTime != null and lastModifyTime != ''">
        lastModifyTime = #{lastModifyTime},
      </if>
      <if test="updaterId != null and updaterId != ''">
        updaterId = #{updaterId},
      </if>
      ROLE_SEQ = #{ROLE_SEQ}
    WHERE ROLE_SEQ = #{ROLE_SEQ}
  </update>

  <delete id="delete" parameterType="Integer">
    DELETE FROM base_role WHERE ROLE_SEQ = #{ROLE_SEQ}
  </delete>

  <select id="countAll" resultType="java.lang.Integer">
    SELECT
      count(1)
    FROM
      base_role
  </select>
  
  	<select id="findByRoleName" resultMap="resultmap_role" parameterType="java.lang.String">
		SELECT
			<include refid="all_column_list"></include>
		FROM
			base_role
		WHERE
			ROLE_NAME LIKE CONCAT('%',#{value},'%')
	</select>
</mapper>