<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- <setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="true"/> -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<plugins>
<!-- 		配置数据库类型 分页截取关键字 -->
		<plugin interceptor="club.zenyuca.common.util.paging.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
</configuration>